<!-- POKEDEX SUBSCRIPTION EXAPLE WITH SIGNALS & OBSERVABLES -->
<section class="pokedex">
  <img [src]="pokedexUrl" alt="poke">

  <div class="pokedex__pokemon-image pokedex__pokemon-image--current">
    <img src="{{ currentPokemon().urlImg}}" alt="poke">
  </div>

  <div class="pokedex__pokemon-image pokedex__pokemon-image--published">
    @if (publishedPokemon()?.urlImg) {
    <img src="{{ publishedPokemon()?.urlImg}}" alt="poke">
    }
  </div>

  <div class="pokedex__publish-button" (click)="publishPokemon()">Publish</div>
  <div class="pokedex__my_pokemon-button">My Poke</div>
  <div class="pokedex__pokemon-button pokedex__pokemon-button--next" (click)="nextPokemon()"> </div>
  <div class="pokedex__pokemon-button pokedex__pokemon-button--prev" (click)="prevPokemon()"> </div>
</section>